@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Bengali:wght@100..900&display=swap');

:root {
    --bs-primary: #d4932b;
    --bs-secondary: #1a1c33;
    --bs-light: #f1f2f4;
    --bs-dark: #272d47;
    --bs-heading-color: #272d47;
    --bs-darker: #1a1c33;
    --bs-success: #0abb75;
}

body {
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-weight: 400;
    color: #3F4254;
    background-color: var(--bs-light);
    font-family: 'Inter', sans-serif;
    font-family: "Noto Sans Bengali", sans-serif;
    overflow-x: hidden;
}

img,
svg {
    max-width: 100%;
    height: revert-layer;
    display: inline-block;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    border-bottom:1px solid #e5e5e5;
}

a {
    text-decoration: none;
    color: inherit;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* For Firefox */
input[type="number"] {
    -moz-appearance: textfield;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
}

.btn-check:checked+.btn,
.btn.active,
.btn.show,
.btn:first-child:active,
:not(.btn-check)+.btn:active {
    border-color: transparent;
    box-shadow: none;
}

.btn-check:checked+.btn:focus-visible,
.btn.active:focus-visible,
.btn.show:focus-visible,
.btn:first-child:active:focus-visible,
:not(.btn-check)+.btn:active:focus-visible {
    box-shadow: none;
}

.btn {
    font-size: 0.85rem;
    font-weight: 500;
    border-radius: 0.45rem;
    padding: 0.5rem 1rem;
    letter-spacing: 0.5px;
}

.btn-sm {
    border-radius: 3px;
    padding: 6px 12px;
    font-size: 13px;
}

.btn-xs {
    border-radius: 2px;
    padding: 5px 8px;
    font-size: 12px;
}

.text-primary {
    color: #549a95 !important;
}

.text-secondary {
    color: var(--bs-secondary) !important;
}

.btn-primary {
    background-color: #549a95;
    border-color: #549a95;
    color: var(--bs-white);
}

.btn-primary:hover {
    background-color: var(--bs-secondary);
    border-color: var(--bs-secondary);
    color: var(--bs-white);
}

.btn-outline-primary {
    --bs-btn-color: #549a95;
    --bs-btn-border-color: #549a95;
    --bs-btn-hover-color: var(--bs-white);
    --bs-btn-hover-bg: #549a95;
    --bs-btn-hover-border-color: #549a95;
    --bs-btn-focus-shadow-rgb: 13, 110, 253;
    --bs-btn-active-color: var(--bs-white);
    --bs-btn-active-bg: #549a95;
    --bs-btn-active-border-color: #549a95;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #549a95;
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: #549a95;
    --bs-gradient: none;
}

.btn-secondary {
    background-color: var(--bs-secondary);
    border-color: var(--bs-secondary);
}

.btn-check:checked+.btn.btn-secondary,
.btn.btn-secondary.active,
.btn.btn-secondary.show,
.btn.btn-secondary:first-child:active,
:not(.btn-check)+.btn.btn-secondary:active,
.btn-secondary:hover {
    background-color: #549a95;
    border-color: #549a95;
    color: var(--bs-white);
}

.bg-primary {
    background-color: #549a95 !important;
}

.bg-light {
    background-color: var(--bs-light) !important;
}

.text-xs {
    font-size: 12px;
}

.text-sm {
    font-size: 14px;
}

.text-base {
    font-size: 16px;
}

.text-md {
    font-size: 18px;
}

.fw-400 {
    font-weight: 400 !important;
}

.fw-500 {
    font-weight: 500 !important;
}

.fw-600 {
    font-weight: 600 !important;
}

.fw-700 {
    font-weight: 700 !important;
}

.form-control:focus {
    color: var(--bs-gray-700);
    background-color: var(--bs-body-bg);
    border-color: #eee;
    box-shadow: none;
}

.form-control::placeholder {
    color: var(--bs-gray-500);
    font-size: 0.85rem
}

.owl-carousel .owl-nav button.owl-prev,
.owl-carousel .owl-nav button.owl-next,
.slick-arrow {
    background-color: var(--bs-white);
    color: var(--bs-dark) !important;
    padding: 0;
    width: 40px;
    height: 40px;
    border-radius: 50px;
    font-size: 1rem;
    line-height: 1;
    position: absolute;
    left: -0.6rem;
    top: 50%;
    transform: translateY(-50%);
    z-index: 9;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #E1E7EA;
}

.owl-carousel .owl-nav button.owl-next,
.slick-arrow.slick-next {
    left: auto;
    right: -0.6rem;
}

.owl-carousel .owl-nav button.owl-prev:active,
.owl-carousel .owl-nav button.owl-prev:focus,
.owl-carousel .owl-nav button.owl-prev:hover,
.owl-carousel .owl-nav button.owl-next:active,
.owl-carousel .owl-nav button.owl-next:focus,
.owl-carousel .owl-nav button.owl-next:hover,
.slick-arrow:active,
.slick-arrow:focus,
.slick-arrow:hover {
    background-color: var(--bs-white) !important;
    color: #549a95 !important;
    border-color: #E1E7EA;
}

.owl-nav button svg,
.slick-arrow svg {
    height: 9px;
    width: auto;
}

.slick-dots {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 0;
    bottom: -1.5rem;
    width: 100%;
}

.slick-dots li {
    display: inline-flex;
}

.slick-dots button {
    font-size: 0;
    border: none;
    width: 10px;
    height: 10px;
    background-color: var(--bs-gray-300);
    border-radius: 50%;
    margin: 0 4px;
    padding: 0;
    flex-shrink: 0;
    transition: all 0.3s ease-in-out;
}

.slick-dots li.slick-active button {
    background-color: rgb(255 255 255 / 90%);
}

.slick-dots button:hover {
    background-color: var(--bs-gray-500);
}

.breadcrumb-item {
    font-weight: 500;
}

.breadcrumb-item.active {
    color: #549a95;
}

.pagination li>* {
    margin: 0;
    text-decoration: none;
    padding: 0;
    line-height: 1;
    font-size: 1em;
    font-weight: 400;
    padding: .75em;
    text-align: center;
    display: block;
    min-width: 2.5em;
    border: 1px solid #549a95;
    height: 2.5em;
    color: #549a95;
    margin: 0 2px;
    border-radius: 0.5rem;
}

.pagination li>*:hover,
.pagination li.active>* {
    background-color: #549a95;
    color: var(--bs-white);
}

.pagination {
    justify-content: center;
}

.pagination li.disabled {
    display: none;
}

.preloader {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--bs-white);
    position: fixed;
    inset: 0;
    z-index: 9999;
}

#content-wrapper {
    min-height: calc(100vh - 500px);
}

.truncate-text {
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: var(--lines, 2);
    line-clamp: var(--lines, 2);
    min-height:0px;
}

.scrollTop {
    position: fixed;
    right: 25px;
    bottom: 60px;
    background-color: #549a95;
    color: var(--bs-white);
    width: 40px;
    height: 40px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.2rem;
    cursor: pointer;
}

/* =============== Header CSS =============== */
.header-top {
    background: #f5f5f5;
    color: #666;
    display: block;
    font-size: 13px;
    font-weight: 400;
    padding: 10px 0;
}

.devider {
    border: 1px solid #d9d9d9;
    height: 18px;
    margin: 0 10px;
}

.top-header-links {
    display: flex;
    align-items: center;
}

.top-header-links a {
    color: #666;
}

.top-header-links a:hover {
    color: #549a95;
    text-decoration: underline;
}

.main-header {
    background-color: var(--bs-white);
}

.header-middle {
    padding: 14px 0;
}

.header-middle.sticky {
    position: fixed;
    top: 0;
    left: 0;
    animation: slideDown .3s ease-in-out both;
    -webkit-animation: slideDown .3s ease-in-out both;
    background-color: var(--bs-white);
    z-index: 999;
    width: 100%;
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
}

@keyframes slideDown {
    0% {
        transform: translateY(-100%);
        -webkit-transform: translateY(-100%)
    }

    to {
        transform: translateY(0);
        -webkit-transform: translateY(0)
    }
}

.header-middle-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo-area {
    flex-shrink: 0;
}

.search-area {
    flex-grow: 1;
    padding: 10px 40px;
}

.search-wrapper {
    max-width: 600px;
    width: 100%;
    display: flex;
    border: 1px solid #ddd;
    border-bottom: 2px solid #549a95;
    border-radius: 0 0.3rem 0.3rem 0;
    overflow: hidden;
    margin: 0 auto;
}

.search-input {
    border: none;
}

.search-btn {
    padding: 0;
    width: 50px;
    background-color: #549a95;
    color: var(--bs-white);
    border-radius: 0;
    margin: -1px;
}

.btn-check:checked+.search-btn,
.search-btn.active,
.search-btn.show,
.search-btn:first-child:active,
:not(.btn-check)+.search-btn:active {
    background-color: #549a95;
    color: var(--bs-white);
}

.action-area {
    flex-shrink: 0;
}

.header-links {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-wrap: wrap;
}

.header-link {
    display: inline-flex;
    align-items: center;
    position: relative;
    gap: 5px;
    padding: 0.5rem;
}

.count {
    background-color: var(--bs-secondary);
    color: var(--bs-white);
    font-size: 10px;
    font-weight: 600;
    min-width: 16px;
    height: 16px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0.2rem;
    right: 0.2rem;
    pointer-events: none;
    line-height: 1;
    z-index: 1;
    user-select: none;
    text-overflow: ellipsis;
    border-radius: 50%;
    padding: 2px;
    white-space: nowrap;
}

.header-nav {
    border-bottom: 1px solid #cecfd1;
}

.menu-list {
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-link {
    display: inline-block;
    padding: 8px 15px;
    background-color: var(--bs-white);
    margin-bottom: -1px;
    border-bottom: 1px solid #ddd;
    border-radius: 0.3rem 0.3rem 0 0;
}

.menu-link.active {
    border: 1px solid #ddd;
    border-bottom-color: var(--bs-white);
}

.menu-toggle-btn {
    padding: 0;
    width: 32px;
    display: inline-flex;
    align-items: center;
    padding-block: 5px;
}

/* =============== Header CSS =============== */

/* =============== Hero CSS =============== */
.swiper-button-next:after,
.swiper-button-prev:after {
    display: none;
}

.swiper-arrow-btn {
    background-color: var(--bs-white);
    border: 1px solid transparent;
    height: 66px;
    width: 32px;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 2px 0 8px -2px rgba(0, 0, 0, .3);
    align-items: center;
    padding: 0 4px 0 0;
    left: 0;
    transform: translateY(-50%);
    margin-top: 0;
}

.swiper-button-next {
    padding: 0 0 0 2px;
    right: 0;
    left: auto;
}

.swiper-button-next svg {
    transform: rotate(180deg);
}

.swiper-button-next svg,
.swiper-button-prev svg {
    width: 11px;
    height: 16px;
    object-fit: contain;
    transform-origin: center;
}

.swiper-pagination-bullet-active {
    background: var(--bs-white);
}

/* =============== Hero CSS =============== */

/* =============== Fetured Category CSS =============== */
.featured-category {
    background-color: #e8e9ed;
    border: 2px solid #549a95;
    border-radius: 6px;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 0.3rem;
    height: 60px;
    background-color: rgb(212 147 43 / 10%);
    color: var(--bs-black);
    transition: all 0.2s ease-in-out;
}

.featured-category:hover {
    background-color: rgb(212 147 43 / 3%);
    border-color: rgb(212 147 43 / 50%);
}

.featured-category-img {
    flex-shrink: 0;
}

.featured-category-text {
    flex-grow: 1;
}

.featured-category-section .swiper-arrow-btn {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    left: -18px;
    box-shadow: 2px 0 8px -2px rgba(0, 0, 0, .3);
}

.featured-category-section .swiper-arrow-btn.swiper-button-next {
    left: auto;
    right: -18px;
}

.featured-category-section .swiper-arrow-btn svg {
    width: 9px;
    height: 14px;
}

/* =============== Fetured Category CSS =============== */

/* =============== Product CSS =============== */
.section-card {
    background-color: var(--bs-white);
    padding: 1rem;
    border-radius: 0.3rem;
    box-shadow: 0 3px 5px rgb(0 0 0 / 8%);
    margin-top:10px;
}

.section-header {
    display: flex;
    align-items: flex-end;
    gap: 8px;
}

.section-title {
    flex-grow: 1;
    margin: 0;
    font-weight: 400;
    color: #549a95;
}

.section-link {
    flex-shrink: 0;
    background-color: #549a95;
    color: var(--bs-white);
    display: inline-flex;
    padding: 0.3rem 0.6rem 0.23rem;
    border-radius: 0.1rem;
}

.product-card-wrapper {
    position: relative;
}

.product-card {
    background-color: var(--bs-white);
    padding: 10px;
    border: 1px solid transparent;
}

.product-card-wrapper:hover .product-card {
    border-color: #d9d9d9;
}

.product-card-wrapper:hover::before {
    position: absolute;
    content: "";
    top: -7px;
    right: -6px;
    z-index: 1;
    background-image: url(../images/icons/top-right-shadow.png);
    background-repeat: no-repeat;
    background-position: right top;
    width: 69px;
    height: 90px;
    line-height: 0;
    display: inline-block;
    pointer-events: none;
}

.product-card-wrapper:hover::after {
    position: absolute;
    content: "";
    bottom: -7px;
    left: -6px;
    z-index: 1;
    background-image: url(../images/icons/bottom-left-shadow.png);
    background-repeat: no-repeat;
    background-position: right bottom;
    width: 102px;
    height: 74px;
    line-height: 0;
    display: inline-block;
    pointer-events: none;
}

.product-card-wrapper:hover .product-card::before {
    content: "";
    top: 0px;
    right: 0;
    width: 50px;
    position: absolute;
    z-index: 1;
    height: 53px;
    background-image: url(../images/icons/o_line-border-top.png);
    background-position: right top;
    background-repeat: no-repeat;
    pointer-events: none;
}

.product-card-wrapper:hover .product-card::after {
    content: "";
    bottom: 0;
    left: 0px;
    position: absolute;
    z-index: 1;
    right: auto;
    top: auto;
    width: 50px;
    height: 53px;
    background-image: url(../images/icons/o_line-border-bottom.png);
    background-position: left bottom;
    background-repeat: no-repeat;
    pointer-events: none;
}

.product-card-author a:hover,
.product-card-title a:hover {
    text-decoration: underline;
}

.product-card-author {
    font-size: 13px;
    margin-bottom: 0;
    line-height: 1.2;
}

.product-card-price del {
    margin-right: 8px;
    color: #888888;
    opacity: 0.8;
    text-decoration: none;
}

.product-card-price ins {
    text-decoration: none;
    font-weight: 600;
    color: #549a95;
}

del .Price-amount {
    text-decoration: line-through;
}

.Price-amount {
    display: inline-flex;
    align-items: center;
}

.discount-badge {
    position: absolute;
    top: 0;
    left: 0;
    background-image: url(../images/icons/discount-badge-common.svg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 46px;
    height: 46px;
    z-index: 3;
}

.product-discount {
    color: var(--bs-white);
    padding: 9px 0 0 10px;
    display: inline-block;
    font-size: 13px;
}

.product-card-action {
    position: absolute;
    left: 1px;
    bottom: 1px;
    width: calc(100% - 2px);
    text-align: center;
    padding: 5px 10px 10px;
    background-color: var(--bs-white);
    visibility: hidden;
    opacity: 0;
}

.product-card-wrapper:hover .product-card-action {
    visibility: visible;
    opacity: 1;
}

.btn-cart {
    background-color: #549a95;
    color: var(--bs-white);
    padding: 0.25rem 1rem 0.2rem;
}

.btn-cart:hover {
    background-color: var(--bs-secondary);
    color: var(--bs-white);
}

/* =============== Product CSS =============== */

/* =============== Author CSS =============== */
.author-card {
    display: block;
    text-align: center;
    color: #4C4C4C;
}

.author-card img {
    margin: 8px auto;
    width: 120px;
    border: 1px solid #DCDCDC;
    border-radius: 50%;
    padding: 0.25em;
}

.author-card-text {
    font-size: 16px;
    font-weight: 500;
    padding: 8px 0;
    margin: 0;
    height: 2em;
    overflow: hidden;
}

.author-card:hover {
    color: #549a95;
}

/* =============== Author CSS =============== */

/* =============== Category2 CSS =============== */
.category-card2 {
    display: block;
    text-align: center;
    border: 1px solid #DCDCDC;
    background: var(--bs-white);
    border-radius: 4px;
    padding: 0.5rem 1rem;
    color: #4C4C4C;
}

.category-card2:hover {
    color: #549a95;
    border-color: #549a95;
    background-color: rgb(212 147 43 / 10%);
}

.category-card2-image {
    margin: 0 auto;
}

.category-card2-text {
    font-size: 1.25em;
    font-weight: 500;
    padding: 12px 0 0;
    margin: 0;
}

/* =============== Category2 CSS =============== */

/* =============== Brand CSS =============== */
.brand-card {
    color: #4C4C4C;
    text-align: center;
    display: block;
}

.brand-card-image {
    max-width: 120px;
    margin: 0 auto;
}

.brand-card-text {
    font-size: 15px;
    font-weight: 500;
    padding: 8px 0;
    margin: 0;
    height: 2em;
    overflow: hidden;
}

/* =============== Brand CSS =============== */

/* =============== Footer CSS =============== */
.footer-section {
    border-top: 1px solid rgb(204, 204, 204);
    background-color: #f7f7f7;
    padding-block: 2.5rem 1.5rem;
}

.footer-title {
    font-weight: 600;
    font-size: 1.2rem;
    margin-bottom: 0.8rem;
}

.footer-link {
    display: inline-block;
    padding: 0.3rem 0;
}

.footer-link:hover {
    text-decoration: underline;
}

.footer-contact-item {
    margin-bottom: 0.5rem;
}

.social-link {
    font-size: 16px;
}

.footer-bottom {
    text-align: center;
    background-color: #f7f7f7;
    border-top: 1px solid rgb(204, 204, 204);
}

/* =============== Footer CSS =============== */

.product-card {
    position: relative;
}

.product-card .product-img {
    max-height: 360px;
    object-fit: contain;
}



